<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="row between-xs middle-xs header-row">
      <nav>
        <ul>
          <li><a mat-button routerLink="/home" routerLinkActive="active">Home</a></li>
          <li><a mat-button routerLink="/products" routerLinkActive="active">Products</a></li>
          <li><a mat-button routerLink="/contact" routerLinkActive="active">Contact</a></li>
          <li><a mat-button routerLink="/admin" routerLinkActive="active">Admin</a></li>
        </ul>
      </nav>
      <a mat-raised-button matBadge="4" matBadgeColor="warn" matBadgePosition="before">
        <mat-icon>shopping_cart</mat-icon>
        Carrito
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

