<!-- string interpolation -->
<div>variable test - {{ test }}</div>

<input type="text" [defaultValue]="title" [(ngModel)]="title">

<input type="text" [(ngModel)]="power">
{{ power | exponential }}

<div>item a agregar: {{ title }}</div>

<div *ngIf="title === 'show'">
  pool
</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'pool'">Este es pool</p>
  <p *ngSwitchCase="'pepe'">Este es pepe</p>
  <p *ngSwitchCase="'pepa'">Este es pepa</p>
  <p *ngSwitchDefault>Este es default</p>
</div>

<button (click)="addItem(title)">Add item</button>

<div>
  <ul>
    <li *ngIf="data.length === 0">La lista esta vacia</li>
    <li *ngFor="let item of data; index as i">
      {{i}} - {{ item }}
      <button (click)="removeItem(i)">remove</button>
    </li>
  </ul>
</div>
