<app-product [product]="product"></app-product>
<button (click)="createProduct()">Crear producto</button>
<button (click)="updateProduct(product.id)">Update producto</button>
<button (click)="deleteProduct(product.id)">Detete producto</button>
