<!--<input type="text" [formControl]="emailField">-->
<!--{{emailField.valid}} - {{emailField.invalid}}-->
<!--<button mat-button *ngIf="emailField.valid" (click)="sendForm()">Enviar</button>-->

<mat-form-field class="example-form-field">
  <mat-label>Clearable input</mat-label>
  <input matInput type="text" [formControl]="emailField">
  <button mat-button *ngIf="emailField.valid" matSuffix mat-icon-button aria-label="Clear" (click)="emailField.reset()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
