<!-- Slider main container -->
<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <img src="https://picsum.photos/900/400" alt="img">
    </div>
    <div class="swiper-slide">
      <img src="https://picsum.photos/900/400" alt="img">
    </div>
    <div class="swiper-slide">
      <img src="https://picsum.photos/900/400" alt="img">
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
