<div>
  <app-product *ngFor="let product of products; index as i"
               [product]="product"
               (productClicked)="addItemCartSuccess($event)"
               (removeClicked)="removeItemCartSuccess($event)"
  ></app-product>
</div>
