<div class="product" *ngIf="product">
  <h2 appHighlight>{{product.title | uppercase}}</h2>
  <a [routerLink]="['/products/', product.id]">
    <img [src]="product.image" alt="{{product.title}}">
  </a>
  <strong>{{product.price | currency}}</strong>
  <p>{{product.description | slice:0:10}}</p>
  <div>{{today | date:'medium'}}</div>
  <div>
    <button (click)="addItemCart()">Agregar al Carrito</button>
    <button (click)="removeItemCart()">Remover del Carrito</button>
  </div>
</div>
