<app-banner></app-banner>

<hr>

<div class="row">
  <div class="col-xs-4">
    <button mat-button (click)="console('this is a button')">Basic</button>
  </div>
  <div class="col-xs-4">
    <button mat-button color="primary">Primary</button>
  </div>
  <div class="col-xs-4">
    <button mat-raised-button color="warn">Warn</button>
  </div>
</div>

